<div id="events" class="show container">
  <div class="row">
    
    <%= link_to view_path(@event.start_time.strftime("%b+%Y")), :class => "waves-effect waves-light btn" do %>
      <i class="material-icons left">keyboard_arrow_left</i> Back to Calendar
    <% end %>

  </div>
  
  <div class="row">
    
    <h2 class="left-align"><%= @event.title %></h2>  
    <div class="divider"></div>
  </div>
    
  <div class="row">
    <h5><i class="material-icons md-36 prefix">event</i> <%= format_start_and_end_date(@event.start_time, @event.end_time) %></h5>
    <h5><i class="material-icons md-36 prefix">schedule</i> <%= format_start_and_end_time(@event.start_time, @event.end_time) %></h5>
    <h5><i class="material-icons md-36 prefix">place</i> <%= @event.location %></h5>
    <% #show organizer if present
      if @event.organizer_name.present? %>
    <h5><i class="material-icons md-36 prefix">account_circle</i> Organizer: <%= @event.organizer_name %>
      <% if @event.organizer_email.present? %>
        &middot; <%= mail_to(@event.organizer_email, nil, :encode => :javascript) %>
      <% end %>
    </h5>
    <% end %>
    <div class="divider"></div>
  </div>  
  
  <div class="row">
    <div class="description">
      <p><i class="material-icons md-36 prefix">description</i><%= @event.description.present? ? @event.description : "No description." %></p>
    </div>
    <div class="divider"></div>
  </div>
  
  <!-- sharing -->
  <div class="row">
    <div class="col s12 sharing">
      <ul>
        
        <!-- Share on Facebook -->
        <li>
          <%= link_to "https://www.facebook.com/sharer/sharer.php?u=" + URI.encode(request.original_url), :target => "_blank" do %>
            <%= image_tag "ournaropa_calendar/fb-icon.png", :class => "tooltipped", :data => {:position => "top", :delay => "50", :tooltip => "Share on Facebook"} %>
          <% end%>
        </li>
        
        <!-- Share on Twitter -->
        <li>
          <%= link_to "https://twitter.com/intent/tweet?text=" + URI.escape("Check out " + @event.title + ": " + request.original_url), :target => "_blank" do %>
            <%= image_tag "ournaropa_calendar/twitter-icon.png", :class => "tooltipped", :data => {:position => "top", :delay => "50", :tooltip => "Share on Twitter"} %>
          <% end %>
        </li>
        
        <!-- Copy URL -->
        <li>
          <a id="copy-url">
            <%= image_tag "ournaropa_calendar/url-icon.png", :class => "tooltipped", :data => {:position => "top", :delay => "50", :tooltip => "Copy Event URL to Clipboard"} %>
          </a>
        </li>
        
        <!-- Save to Google Calendar -->
        <% google_description = "" %>
        
        <%
          if @event.organizer_name.present? || @event.organizer_email.present?
            google_description += "Organizer:"
          end
          if @event.organizer_name.present?
            google_description += " " + @event.organizer_name
          end
          if @event.organizer_email.present?
            google_description += " (" + @event.organizer_email+ ")"
          end
if (@event.organizer_email.present? || @event.organizer_name.present?) && @event.description.present?
  google_description += "\n\n"
end
if @event.description.present?
  google_description += @event.description
end %>
        
        <li>
          <%= link_to "https://calendar.google.com/calendar/render?dates=" + @event.start_time.strftime("%Y%m%dT%H%M%S") + "/" + @event.end_time.strftime("%Y%m%dT%H%M%S") + "&ctz=America/Denver&action=TEMPLATE&text=" + URI.encode(@event.title) + "&location=" + URI.encode(@event.location) + "&details=" + URI.encode(google_description), :target => "_blank" do %>
            <%= image_tag "ournaropa_calendar/gcal-icon.png", :class => "tooltipped", :data => {:position => "top", :delay => "50", :tooltip => "Save Event in Google Calendar"} %>
          <% end %>
            
            </li>
      </ul>
      
      <div id="copy-url-textfield" class="row" style="display:none;">
        <div class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <i class="material-icons prefix">link</i>
              <input id="url" type="text" class="validate" value="<%= request.original_url %>">
              <label for="url">URL / Link</label>

            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  
  <div class="row">
    
    <%= link_to view_path(@event.start_time.strftime("%b+%Y")), :class => "waves-effect waves-light btn" do %>
      <i class="material-icons left">keyboard_arrow_left</i> Back to Calendar
    <% end %>

  </div>
  
</div>


<script type="text/javascript">
  $("#copy-url").click(function(){
  
    // show url copy thing
    $("#copy-url-textfield").slideDown();
    
    // do the copying
    var copyTextarea = document.querySelector('#copy-url-textfield input');
    copyTextarea.select();
  
    try {
      var successful = document.execCommand('copy');
      var msg = successful ? 'successful' : 'unsuccessful';
      if(msg == "successful")
        Materialize.toast('URL copied to clipboard!', 4000); // 4000 is the duration of the toast
    } catch (err) {
      console.log('Oops, unable to copy');
    }
    
    
  });

</script>