<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

  
  <% # if there is a notice, display for 5 seconds
  if notice %>
  <script type="text/javascript">
    Materialize.toast("<%= escape_javascript notice %>", 5000) // 4000 is the duration of the toast
  </script>
  <% end %>
  
</body>
</html>
